<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <span class="material-symbols-outlined">
                home
            </span>
        </a>
        <a href="/question" class="navbar-brand classquestion link-light">Question</a>
    </div>
</nav>