
body {
    background-color: #ECEFF1;
}



.material-symbols-outlined {
  font-size: 2rem;
  color: #ECEFF1;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 400,
  'opsz' 50
}

#form-question {
    margin-top: 2rem;
}

/* .classquestion {
  color: #ECEFF1;
} */